<div class="chat-room-show-page">
  <nav class="navbar navbar-light chat-room__header">
    <%= link_to matching_index_path, class: "nav-item nav-link" do%>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <span><%= @chat_room.name %>
    (<%= @current_people.count %>) 人</span>
    <div class="chat-room__partner">
        <%= image_tag @chat_room.profile_image.url, class: "chat-room__partner-img" %>
    </div>
  </nav>
  <div class="template">
    <p>グループ内のメンバーと話し合いをして<br>申し込み日・入校日を決めましょう！</p>
  </div>
  <form class="chat-room__message-form">
    <textarea data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder=">メッセージを入力 (Enterで送信)<" class="chat-room__message-form_textarea"></textarea>
  </form>
  <div class="all-chats">
    <div id='chat-messages'>
      <%= render @chat_messages %>
    </div>
    <% @mygroup_messages.each do |message| %>
      <div class="chat-message__other-user">
        <% if message.user.profile_image.blank? %>
          <div class="chat-room__partner-default-img">
          </div>
        <% else %>
          <%= image_tag message.user.profile_image.url, class: "chat-room__partner-img" %>
        <% end %>
        <span class="chat-room__partner-name">
         <%= message.user.name %>
      </span>
        <div class="chat-message__content green">
           <%= message.content %>     
        </div>
      </div>
    <% end %>
  </div>
</div>
